<head></head>
<!--
  Here resides the Home Component, specificalyl its .html portion. No forms exist here,
  most everything here is for aesthetic and information about our website. 
-->

<body>
  <!--
    On our home page we feature this Carousel. It will rotate a variety of photos for viewing
    pleaser and information. ../../../assets/img/SE2.jpg
  -->
  <br><br><div class="container">
    <div class="row">
      <div class="col-sm-8">
        <ngb-carousel showNavigationArrows="true" interval="4000" pauseOnHover="true">
          <ng-template ngbSlide>
            <img src="../../../assets/img/SE2.jpg" alt="code-like-a-boss" width="730" height="500">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../assets/img/HappyCoding.jpg" alt="HappyCoding" width="730" height="500">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../assets/img/SoftwareEducation.jpg" alt="SoftwareEducation" width="730" height="500">
          </ng-template>
          <ng-template ngbSlide>
            <img src="../../../assets/img/RevatureProOna.jpg" alt="SoftwareEducation" width="730" height="500">
          </ng-template>
        </ngb-carousel>
      </div>
      <div class="col-sm-4">
        <div class="well">
          <h1 class="text-center">Welcome to Revature Titanium!</h1><br>
        </div>
        <div class="well">
          <p class="text-center">Revature Titanium is about reinforcing talent, adcademic instuitions
            and businesses with the tools and resources needed to promote fast, optimal knowledge
            of software engineering technologies.</p><br><br>
        </div>
        <div class="well">
          <p class="text-center">You might be wondering, how can Revature Ti help me?</p>
          <p class="text-center">Revature Ti utilizes time honored educational tools such as
            flashcards and quizzes. In addition our streamlined web application offers
            outside resources to ingrain the complex concepts of software engineering.
          </p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="container text-center">
    <h3>What We Do</h3>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img src="../../../assets/img/CodeBoss.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Why learn computer programming?</p>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <p class="text-center">There will be 1.4 million open computer science jobs by 2020,
            yet not enough talent to fill them. Individuals experienced in computer science 
            secure rewarding and unique career 
            opportunities in various fields, like environment, medicine, 
            gaming, business operations and finance.
          </p>
        </div>
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/img/youarehere.jpg" class="img-responsive" style="width:100%" alt="Image">
        <p>Programming starts here</p>
      </div>
      <div class="col-sm-3">
        <div class="well">
          <p>Our tools, your students.</p><p>Our tools, your career.</p><p>Our tools, your business.</p> 
          <p>From flashcards to quizzes to video tutorials, our web application has the 
            knowledge you need.
          </p>
        </div>
        <div class="well">
          <p>Create an account and track your progress!</p>
        </div>
      </div>
    </div>
    <hr>
  </div>

  <div class="container text-center">
    <h3>Meet the Team</h3>
    <br>
    <div class="row">
      <div class="col-sm-3">
        <img src="../../../assets/img/NathanPic.jpg" class="img-responsive" width="200" height="200" alt="Image">
        <p>Nathan Medrano</p>
        <p>Project Lead</p>
        <p>"Hewwo Pwotagonist"</p>

      </div>
      <div class="col-sm-3">
        <img src="../../../assets/img/JosephPic.jpg" class="img-responsive" width="200" height="200" alt="Image">
        <p>Joseph Highe</p>
        <p>Director of Directing</p>
        <p>"Om nom nom num num oh yes"</p>
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/img/TomPic.png" class="img-responsive" width="200" height="200" alt="Image">
        <p>Tom Luna</p>
        <p>Angular Director</p>
        <p>"So let me tell you about Data Decomposition."</p>
      </div>
      <div class="col-sm-3">
        <img src="../../../assets/img/OmarPic.png" class="img-responsive" width="200" height="200" alt="Image">
        <p>Omar Montalvo</p>
        <p>VP of Flashcards</p>
        <p>"Ahaha ahaha ahahahaha"</p>
      </div>
    </div>
  </div><br>

  <footer class="container-fluid text-center">
    <p>&copy; 2019 Gamma Ray Information</p>
  </footer>

</body>