<div class="col-xl-6"><br>
    <label>Card {{questionNumber}}</label>
</div>

<div class="col-xl-12">
    <br><button id="startButton" name="startButton" (click)="takeFlashcards()" [hidden]="start">Begin Intro to
        Testing/Selenium Flashcards</button>
    <div class="row">

        <div class="col-xl-12 mx-auto">
            <div class="tp-wrapper">
                <div class="tp-box" (click)="toggleFlip()" [@flipState]="flip">
                    <div class="tp-box__side tp-box__front">
                        {{question}}
                    </div>
                    <div class="tp-box__side tp-box__back">
                        {{answer}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br><br><br><br>

    <div class="row mx-auto flashbutton">
        <button type="submit" class="btn btn-primary" (click)='previous();takeFlashcards()'>Previous</button>
        <button type="submit" class="btn btn-primary" (click)='next();takeFlashcards()'>Next</button>
    </div>
</div>