<!--
  Here Resides the HTML for our component for our log-in screen. In it one can find a simple form validator, used for the sake 
  of logging in; however, we have added the functionality of a 'Register' button for those who do not have an account with us. 

  The way this button works is by creating an event binder (click) and binding it to the function 'registerer'. In the corresponding
  TypeScript the function is defined. 


<body>

  <div class="row py-5 px-4">
    <div class="col-xl-12">
      <h2>Login</h2>

      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control col-sm-4" id="username" placeholder="username" [(ngModel)]="username">
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control col-sm-4" id="pwd" placeholder="password" [(ngModel)]="pwd" required>
        <div class="valid-feedback">Valid.</div>
        <div class="invalid-feedback">Please fill out this field.</div>
      </div>
      <div class="btn-toolbar">
        <button type="submit" class="btn btn-primary" (click)='giveData()'>Submit</button>
        <button type="button" class="btn btn-primary mx-4" (click)="registerer()">Register</button>
        <!--Added 
      </div>

    </div>
  </div>

</body>


<script>
  // Disable form submissions if there are invalid fields
  (function () {
    'use strict';
    window.addEventListener('load', function () {
      // Get the forms we want to add validation styles to
      var forms = document.getElementsByClassName('needs-validation');
      // Loop over them and prevent submission
      var validation = Array.prototype.filter.call(forms, function (form) {
        form.addEventListener('submit', function (event) {
          if (form.checkValidity() === false) {
            event.preventDefault();
            event.stopPropagation();
          }
          form.classList.add('was-validated');
        }, false);
      });
    }, false);
  })();
</script> -->

<body>
  <h2>Login</h2>
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Login
        </button>
        <a routerLink="/register" class="btn btn-link">Register</a>
    </div>
</form>
</body>