<!--
    Here resides our view for just about any hosted quiz! Each one is
    associated with a specific button on the quizzes page to each subject. 
    Here, for instance, is the Java quiz page. In order to get this test 
    to behave more like a practice test, a couple of specifi things needed
    to be done. 
-->

<!--
    To start things off, one is greeted simply with a button to click when 
    one is ready to begin the test. Using an event listener, everything is
    done in the back and the magic begins. In a very simple explanation, 
    click triggers the 'start' boolean to change from false to true, allowing
    for the hidden div to appear.
-->
<button id="startButton" name="startButton" (click)="takeQuiz()" [hidden]="start">Begin Java 8 Quiz</button>
<!--
    Here resides the code for the questions to appear from the database: 
    questionNumber refers quite obviously to the current question number,
    question is the question itself, and choices 1-5 represent the choices.
-->
<div *ngIf="start">
    <div>
        <h2>Question {{questionNumber}}</h2>
        <form>
            <div>
                <h3>{{question}}</h3>
<div class="col-xl-8">
    <br><button id="startButton" name="startButton" (click)="takeQuiz()" [hidden]="start">Begin Java 8 Quiz</button>
    <div *ngIf="start">
        <div><br>
            <h2>Question {{questionNumber}}:</h2>
            <form>
                <div>
                    <h3>{{question}}</h3><br>
                    <div>
                        <button class="checkbox" id=1 name="choice1" (click)="checker1()">{{choice1}}</button><br>
                    </div>
                    <div>
                        <button class="checkbox" id=2 name="choice2" (click)="checker2()">{{choice2}}</button><br>
                    </div>
                    <div>
                        <button class="checkbox" id=3 name="choice3" (click)="checker3()">{{choice3}}</button><br>
                    </div>
                    <div>
                        <button class="checkbox" id=4 name="choice4" (click)="checker4()">{{choice4}}</button><br>
                    </div>
                    <div>
                        <button class="checkbox" id=5 name="choice5" (click)="checker5()">{{choice5}}</button><br>
                    </div><br>
                    <button class="btn btn-primary" (click)='previous();takeQuiz()'>Previous</button>
                    <button class="btn btn-primary" (click)='next();takeQuiz()'>Next</button>
                    <!-- <button type="submit">Submit</button> -->

                </div>
            </form>



        </div>

    </div>

    <div *ngIf="wrong">
        <h1>Incorrect!</h1>
    </div>
    <div *ngIf="correct">
        <h1>Correct!</h1>
    </div>
</div>