<div class="row">
    <div class="col-md-12" ><br>
        <h2 class="text-align-center">Registration</h2><br>
        <div class="form-group">
            <label for="fname">First Name:</label>
            <input type="text" class="form-control" id="fname" name="fname">
        </div><br>
        <div class="form-group">
            <label for="lname">Last Name:</label>
            <input type="text" class="form-control" id="lname" name="lname">
        </div><br>
        <div class="form-group">
            <label for="usr">Username:</label>
            <input type="text" class="form-control" id="user" name="user">
        </div><br>
        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" name="pwd">
        </div><br>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" name="email">
        </div><br>
        <div class="container">
            <button type="button" class="btn btn-primary btn-block">Submit</button>
            <br><br>
        </div>
    </div>
</div>