<div class="row">
    <div class="col-md-12">
    <h2>Concept 1:</h2>
    </div>
    <div class="col-md-12">
        <h4>Read 1:</h4>
        <ul>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
            </li>
        </ul>
    </div>
    <div class="col-md-12">
        <h4>Videos 1:</h4>
        <ul>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
            </li>
        </ul>
    </div>
</div>