a {
    color: darkorchid;
}

body{
    background-color: lightgray
}

button{
    background-color: darkorchid;
    border-color: black;
    color: lightgray;
}

button:hover{
    background: black;
    border-color: darkorchid;
    color: darkorchid;
}