<div class="row">
    <ul>
    <h2>Java 8:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Oracle SQL:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>
    
<div class="row">
    <ul>
    <h2>HTML 5:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>CSS:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>JavaScript:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Bootstrap 4:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Angular/TypeScript:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Introduction to Testing:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>DevOps:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>SpringBoot:</h2>
    
        <ul>
            <li><h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
                </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Selenium:</h2>
    
        <ul>
            <li>
                <h4>Reading Materials:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Webpage link</a>
                    </li>
                </ul>
            </li>
        
            <li>
                <h4>Videos Materials</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" routerLinkActive="active" routerLink="...">Youtube link</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

