<head>
  <script type="text/javascript" src="canvasjs.min.js"></script>
</head>

<body>

  <div class="container"><br>
    <h2 style="text-align: center">Performance Statistics (To get this feature, upgrade to TITANIUM!!!!)
      <audio controls>
        <source src="../assets/titanium.mp3" type="audio/mpeg">
      </audio></h2><br>
    <h3 style="text-align: center">SAMPLE</h3><br>
    <!--<p>The .table-hover class adds a hover effect (grey background color) on table rows:</p>  -->
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Quiz Topics</th>
          <th>Previous Attempt</th>
          <th>Average</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Java</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>SQL</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Front-End Languages</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Servlets</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Angular/TypeScript</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Intro to Testing/Selenium</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>DevOps/Microservices</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Spring</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div><br><br>

  <div class="container">
  <div id="chartContainer" style="height: 370px; width: 100%; 
  margin-left:auto; margin-right: auto;"></div>
  </div><br><br><br><br>

</body>