<body>

  <div class="container">
    <h2 style="text-align: center">Revature Ti Performance Statistics</h2>
    <p style="text-align: center">Your perfomance table:</p>
    <!--<p>The .table-hover class adds a hover effect (grey background color) on table rows:</p>  -->
    <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Quiz Topics</th>
          <th>Last Taken</th>
          <th>Average Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Java</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>SQL</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Front End Technology</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Servlets</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Angular</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Testing</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>DevOps</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Spring</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>Selenium</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

</body>