<!--
<div class="tp-wrapper">
    <div class="tp-box" (click)="toggleFlip()" 
    [@flipState]="flip">
        <div class="tp-box__side tp-box__front">
            What is Bootstrap?
        </div>
        <div class="tp-box__side tp-box__back">
            A front-end framework used to
            create HTML webpages using
            premade styles
        </div>
    </div>
</div>
-->

<body>
    <div class="row">
        <ul>
            <h2>Java 8</h2>
            <ul>
                <li class="nav-item">
                    <button id="1" name="javaFlash" class="btn btn-primary mx-4"
                        (click)="flasher(1)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Oracle SQL</h2>
            <ul>
                <li class="nav-item">
                    <button id="2" name="sqlFlash" class="btn btn-primary mx-4"
                        (click)="flasher(2)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Front-End Languages</h2>
            <ul>
                <li class="nav-item">
                    <button id="3" name="frontFlash" class="btn btn-primary mx-4"
                        (click)="flasher(3)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Servlets</h2>
            <ul>
                <li class="nav-item">
                    <button id="7" name="servletFlash" class="btn btn-primary mx-4"
                        (click)="flasher(7)">
                        <h5>Servlets</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Angular/TypeScript</h2>
            <ul>
                <li class="nav-item">
                    <button id="4" name="servletFlash" class="btn btn-primary mx-4"
                        (click)="flasher(4)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Intro to Testing/ Selenium</h2>
            <ul>
                <li class="nav-item">
                    <button id="5" name="testFlash" class="btn btn-primary mx-4"
                        (click)="flasher(5)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>DevOps/Microservices</h2>
            <ul>
                <li class="nav-item">
                    <button id="6" name="microFlash" class="btn btn-primary mx-4"
                        (click)="flasher(6)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Spring</h2>
            <ul>
                <li class="nav-item">
                    <button id="8" name="springFlash" class="btn btn-primary mx-4"
                        (click)="flasher(8)">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>
</body>
