<!--
<div class="tp-wrapper">
    <div class="tp-box" (click)="toggleFlip()" 
    [@flipState]="flip">
        <div class="tp-box__side tp-box__front">
            What is Bootstrap?
        </div>
        <div class="tp-box__side tp-box__back">
            A front-end framework used to
            create HTML webpages using
            premade styles
        </div>
    </div>
</div>
-->

<body>
    <div class="row">
        <ul>
            <h2>Java 8</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="javaFlash" name="javaFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Oracle SQL</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="sqlFlash" name="sqlFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Front-End Languages</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="frontFlash" name="frontFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>


    <div class="row">
        <ul>
            <h2>JavaScript</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="jsFlash" name="jsFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Servlets</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="servletFlash" name="servletFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Servlets</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Angular/TypeScript</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="servletFlash" name="servletFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Intro to Testing/ Selenium</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="testFlash" name="testFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>DevOps/Microservices</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="microFlash" name="microFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>

    <div class="row">
        <ul>
            <h2>Spring</h2>
            <ul>
                <li class="nav-item">
                    <button class="nav-link" id="springFlash" name="springFlash" class="btn btn-primary mx-4"
                        (click)="flasher()">
                        <h5>Flashcards</h5>
                    </button>
                </li>
            </ul>
        </ul>
    </div><br><br><br>
</body>
