<body><br>
    <div class="row">
        <div class="col-xl-6">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/Java-logo.png" alt="Java-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-6" style="float: right"><br><br>
                            <h2>Java 8</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="1" name="javaQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(1)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-6">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/oracle-logo.png" alt="Oracle-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-6" style="float: right"><br><br>
                            <h2>Oracle SQL</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="2" name="sqlQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(2)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-8">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/HTML5.png" alt="front1-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <img src="../../../assets/img/JS.png" alt="front2-logo" class="mr-3 mt-3 rounded-circle" width="150"
                        height="150">
                    <img src="../../../assets/img/css3.png" alt="front3-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <img src="../../../assets/img/bootstrap4.jpg" alt="front4-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-10" style="float: right"><br><br>
                            <h2>Front-End Languages</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="3" name="frontEndQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(3)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-6">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/servlet-logo.jpg" alt="servlet-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-6" style="float: right"><br><br>
                            <h2>Servlets</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="7" name="servletsQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(7)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-8">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/Angular-logo.png" alt="ng-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <img src="../../../assets/img/ts-logo.png" alt="ts-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-10" style="float: right"><br><br>
                            <h2>Angular/TypeScript</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="4" name="angularQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(4)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-8">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/TestingSoftware.jpg" alt="testSoftware-logo"
                        class="mr-3 mt-3 rounded-circle" width="150" height="150">
                    <img src="../../../assets/img/selenium-logo.png" alt="selenium-logo"
                        class="mr-3 mt-3 rounded-circle" width="150" height="150">
                    <img src="../../../assets/img/cucumber.png" alt="cucumber-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-10" style="float: right"><br><br>
                            <h2>Intro to Testing/Selenium</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="5" name="testingQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(5)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-8">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/DevOps-Gear.png" alt="devOps-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <img src="../../../assets/img/Microservices-logo.png" alt="micro-logo"
                        class="mr-3 mt-3 rounded-circle" width="150" height="150">
                    <img src="../../../assets/img/Zuul-logo.jpg" alt="zuul-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-10" style="float: right"><br><br>
                            <h2>DevOps/Microservices</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="6" name="DevOpsQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(6)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>

    <div class="row">
        <div class="col-xl-6">
            <ul>
                <div class="media border p-3">
                    <img src="../../../assets/img/spring-logo.png" alt="spring-logo" class="mr-3 mt-3 rounded-circle"
                        width="150" height="150">
                    <div class="media-body">
                        <div class="col-xl-6" style="float: right"><br><br>
                            <h2>Spring</h2>
                            <ul>
                                <li class="nav-item">
                                    <button id="8" name="springQuiz" class="btn btn-primary mx-4"
                                        (click)="quizzer(8)">Quiz</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </ul>
        </div>
    </div><br><br><br>
</body>