<body>
    <div class="row">
        <ul>
            <h2>Java 8:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button id="javaQuiz" name="javaQuiz" class="btn btn-primary mx-4" (click)="quizzer()">Java
                                Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>Oracle SQL:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button id="sqlQuiz" name="sqlQuiz" class="btn btn-primary mx-4" (click)="quizzer()">SQL
                                Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>Front-End Languages:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button id="frontEndQuiz" name="frontEndQuiz" class="btn btn-primary mx-4"
                                (click)="quizzer()">Front-End Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>JavaScript:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button id="jsQuiz" name="jsQuiz" class="btn btn-primary mx-4"
                                (click)="quizzer()">JavaScript Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>


    <div class="row">
        <ul>
            <h2>Servlets:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button class="btn btn-primary mx-4" id="servletsQuiz" name="servletsQuiz"
                                (click)="quizzer()">Servlets Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>Angular/TypeScript:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button class="btn btn-primary mx-4" id="angularQuiz" name="angularQuiz"
                                (click)="quizzer()">Angular/TypeScript Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>Introduction to Testing/Selenium:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button class="btn btn-primary mx-4" id="testingQuiz" name="testingQuiz"
                                (click)="quizzer()">Testing Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>DevOps/Microservices:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button class="btn btn-primary mx-4" id="DevOpsQuiz" name="DevOpsQuiz"
                                (click)="quizzer()">DevOps Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div>

    <div class="row">
        <ul>
            <h2>Spring:</h2>

            <ul>
                <li>
                    <h4>Quizzes:</h4>
                    <ul>
                        <li class="nav-item">
                            <button class="btn btn-primary mx-4" id="springQuiz" name="springQuiz"
                                (click)="quizzer()">Spring Quiz</button>
                        </li>
                    </ul>
                </li>
            </ul>
        </ul>
    </div><br><br><br>
</body>