button{
    background-color: darkorchid;
    border-color: black;
    color: lightgray;
}

button:hover{
    background: black;
    border-color: darkorchid;
    color: darkorchid;
}

img{
    border-style: solid;
    border-width: 2px;
    border-color: black;
}
