<div class="row">
    <ul>
    <h2>Java 8:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <button class="nav-link" id="javaQuiz" name="javaQuiz" class="btn btn-primary mx-4" (click)="quizzer()">Java Quiz</button>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Oracle SQL:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                    <a class="nav-link" id="sqlQuiz" name="sqlQuiz" routerLinkActive="active" routerLink="...">SQL Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>
    
<div class="row">
    <ul>
    <h2>Front-End Languages:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="frontEndQuiz" name="frontEndQuiz" routerLinkActive="active" routerLink="...">Front-End Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>JavaScript:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="jsQuiz" name="jsQuiz" routerLinkActive="active" routerLink="...">JavaScript Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>


<div class="row">
    <ul>
    <h2>Servlets:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="servletsQuiz" name="servletsQuiz" routerLinkActive="active" routerLink="...">Servlets Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Angular/TypeScript:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="angularQuiz" name="angularQuiz" routerLinkActive="active" routerLink="...">Angular/TypeScript Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Introduction to Testing/Selenium:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="testingQuiz" name="testingQuiz" routerLinkActive="active" routerLink="...">Testing Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>DevOps/Microservices:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="DevOpsQuiz" name="DevOpsQuiz" routerLinkActive="active" routerLink="...">DevOps Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

<div class="row">
    <ul>
    <h2>Spring:</h2>
    
        <ul>
            <li><h4>Quizzes:</h4>
                <ul>
                    <li class="nav-item">
                        <a class="nav-link" id="springQuiz" name="springQuiz" routerLinkActive="active" routerLink="...">Spring Quiz</a>
                    </li>
                </ul>
            </li>
        </ul>
    </ul>
</div>

